:root {
  --bg: #23252F;
  --white: #ffffff;
  --color-primary: #6d59a8;
  --color-secondary: #3b3a51;
  --color-accent: #E15120;
  --color-highlight: #ffd166;
  --color-inverted: #ffffff;
  --color-inverted-muted: #dee7ea;
  --color-neutral: #23252F;
  --color-neutral-muted: #1A1C23;
  --color-code-1: #ffd166;
  --color-code-2: #ef476f;
  --color-code-3: #9f7aea;
  --color-code-4: #e53e3e;

  --tw-scale-x: 1;
  --tw-scale-y: 1;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #23252F;
  color: #333;
  font-family: 'SF Pro text', -apple-system, BlinkMacSystemFont;;
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  margin: 0 auto;
}
nav {
  background: #23252F;
  margin: 0px 20px 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
/*   position: fixed;
  left: 0;
  right: 0;
  top: 0; */
}
nav .btn {
  margin-left: 12px;
  text-decoration: none;
  letter-spacing: 0;
  padding: .75rem 1.5rem;
  border-radius: .75rem;
  color: var(--color-inverted)

}
nav .btn:hover {
  background-color: var(--color-neutral-muted);
  text-decoration: none;
  letter-spacing: 0;
  padding: .75rem 1.5rem;
}
#navbar {
  max-width: 1280px;
  margin:auto;
  padding: auto 20px; 
}
#cta {
  background-color: var(--color-secondary);
  position: relative;
  top: 0;
  transition: top cubic-bezier(.4,0,.2,1) .2s;
}
#cta:hover {
  top: -5px;
}
nav .logo {
  margin-right: auto;
}

main {
  padding-top: 10rem;
}

section {

  background: #1a1c23; 
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
.tilt {
  opacity: 1;
  animation: tilt .5s infinite;
}
@keyframes tilt {
  100% {opacity: 0}
}