.littletitle {
  color: var(--color-inverted);
  padding-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.title {
  color: var(--color-inverted);
  padding-bottom: 20px;
  text-align: center;
  font-size: 4rem;
  max-width: 80%;
  width: calc(2 * 100% / 3);
  margin: auto;
  font-weight: 600;
  letter-spacing: -.025em;
}
.text {
  color: #fff;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.maingrid {
  display: flex;
  justify-content: space-around;
  background: #1a1c23; 
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 600px) {
  .maingrid { 
  }
}

.box {
  background: #23252F;
  color: #fff;
  padding: 20px;
  width: 300px;
  grid-gap: 1rem;
  height: 300px;
  border-radius: 1rem;
  margin: auto;
}

.box.argumentaire {
  background: #23252F;
  display: flex;
  flex-direction: column;
  justify-content:space-around;

  position: relative;
}

.box.argumentaire span {
  text-align: center;
  font-size: 60px;
}